<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
</head>
<body>
<div th:replace="header :: header"></div>
<h2>Добавить новый продукт</h2>
<form class="ui form" th:action="@{/products/new}" method="post">
    <div class="field">
        <label>Название</label>
        <input type="text" name="name" required>
    </div>
    <div class="field">
        <label>Цена за единицу</label>
        <input type="number" step="0.01" name="unitPrice" required>
    </div>
    <div class="field">
        <label>Категория</label>
        <select name="category.id" required>
            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </div>
    <button class="ui button" type="submit">Добавить продукт</button>
</form>
</body>
</html>
